@font-face {
    font-family: "DonGraffiti";
    src: url(../resources/DonGraffiti.otf);
}

@font-face {
    font-family: "BlankRiver";
    src: url(../resources/Blank\ River.ttf);
}

@media screen and (min-width: 768px) {
    .background {
        background-image: url(../resources/background.jpg);
        background-size: cover;
        padding-left: 50px;
        padding-right: 50px;
        
    }
    .texture {
        width: 768px;
        margin: auto;
        border-left: solid 1rem #FFA800;
        border-right: solid 1rem #FFA800;
    }
}

html {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #FFA800;
    border-bottom: solid 1rem #278949;

}

.nav {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-left: 30px;
}

.logo {
    font-family: "DonGraffiti";
    text-decoration: none;
    color: #278949;
    font-size: 30px;
}

.navlist {
    display: inherit;
    position: absolute;
    right: 0;
    z-index: 100;
    padding-right: 50px;
}

.navlist__item {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px; 
}

.navlink {
    text-decoration: none;
    font-family: "DonGraffiti";
    color: #278949;
}

.navlink:hover {
    text-decoration: underline #278949;
}

.titlecontainer {
    margin-top: 170px;
    display: flex;
    flex-direction: column;
  }

.titlecontainer__item {
    align-self: center;
    
}


.title {
    font-family: "DonGraffiti";
    font-size: 75px;
    color: #278949;
    -webkit-text-stroke: #FFA800 1px;
    margin-top: 0px;
    text-align: center;
}

.button {
    background-color: #278949;
    border-color: #FFA800;
    text-decoration: none;
    color: #FFA800;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25%;
    border: 5px;
    border-style: solid;
    font-family: "DonGraffiti";
    align-self: center;
}

.button:hover {
    background-color: #FFA800;
    border-color: #278949;
    color: #278949;
}

.texture {
    background-image: url(../resources/sidlakvektordonewithtext.png);
    min-height: 85vh;
    overflow: hidden;
}

.footer {
    background-color: #FFA800;
    border-top: solid 1rem #278949;
    width: 100%;
    font-family: "DonGraffiti";
    color: #278949;
    text-align: center;
}

.footer__item {
    margin-bottom: 0;
    padding-bottom: 15px;
}

.textbox {
    background-color: rgba(96, 96, 96, 0.5);
    padding: 15px;
    margin: 10px;
    color: white;
    border-radius: 5%;
}

.textbox__item {
    margin-top: 0;
    
}

.textbox__item--font {
    font-family: "BlankRiver";
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.gallery__item {
    display: block;
    background-color: rgba(96, 96, 96, 0.5);
    margin: 15px;
    padding: 10px;
    border-radius: 5%;
}

.gallery__item > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
