@font-face {
    font-family: "DonGraffiti";
    src: url(../resources/DonGraffiti.otf);
}

html {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #FFA800;
    border-bottom: solid 1rem #278949;

}

.nav {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-left: 30px;
}

.logo {
    font-family: "DonGraffiti";
    text-decoration: none;
    color: #278949;
    font-size: 30px;
}

.navlist {
    display: inherit;
}

.navlist__item {
    list-style-type: none;
}

.navlink {
    text-decoration: none;
    font-family: "DonGraffiti";
    color: #278949;
}

.titlecontainer {
    position: absolute;

}

.title {
    font-family: "DonGraffiti";
    font-size: 75px;
    color: #278949;
    -webkit-text-stroke: #FFA800 1px;
}

.button {
    background-color: #278949;
    border-color: #FFA800;
}

.background {
    
}

.texture {
    background-image: url(../resources/sidlakvektordonewithtext.png);
    min-height: 85vh;
}

.footer {
    background-color: #FFA800;
    border-top: solid 1rem #278949;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "DonGraffiti";
    color: #278949;
}